In [ ]:
import pandas as pd

df = pd.read_csv(r'C:\Users\DELL\Desktop\Electronics\data\Exchange_Rates.csv',encoding='utf-8',encoding_errors='ignore')
print(df.head())

In [ ]:
df

# EDA: Data Cleaning and Preprocessing

In [ ]:
# Clean up column names
df.columns = df.columns.str.strip()

In [ ]:

#Check for Missing Values
df.isnull().sum()

In [ ]:
#Date
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')  #'coerce' turns invalid dates to NaT

In [ ]:
%pip install unidecode

In [ ]:
import unidecode
import re

def clean_currency(value):
    if not isinstance(value, str):  # Check if the value is not a string
        return ''  #return default values
    
    #extract 2-letter uppercase
    currency_abbr = re.findall(r'\b[A-Za-z]{3}\b', value)  #match 3 consecutive letters
    
    if currency_abbr:  # If they had a 3-letter abbreviation
        return currency_abbr[0].upper()  # Returns and convert to uppercase
    else:
        # If there is no match,then they return the first three letters from the string
        return unidecode(value[:3]).upper()
    
df['Currency'] = df['Currency'].apply(clean_currency).astype(str)

In [ ]:
df.info()

In [ ]:
df.isna().sum()

In [ ]:
df.head(5)

In [ ]:
df.columns

In [ ]:
df.info()

In [ ]:
df.to_csv("exchange.csv")

In [ ]:
df.isna().sum()

In [ ]:
df.info()

In [ ]:
df.isna().sum()

In [ ]:
df.columns

In [ ]:
import mysql.connector
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123456789",
    database="Electronics" 
)
cursor = connection.cursor()
cursor.execute("""CREATE TABLE exchange(Date DATE NOT NULL,Currency VARCHAR(255) NOT NULL,Exchange VARCHAR(255) NOT NULL)""")
print("Table Created successfully")

In [ ]:
insert_query = ("""INSERT INTO exchange(Date,Currency,Exchange) VALUES (%s, %s, %s)""")
data =df.values.tolist()
try:
    cursor.executemany(insert_query, data)
    connection.commit()
    print("Values inserted successfully")
except Exception as e:
    print(f"Error: {e}")

In [ ]:
df.isna().sum()