In [1]:
import pandas as pd

df = pd.read_csv(r'C:\Users\DELL\Desktop\Electronics\data\Products.csv',encoding='utf-8',encoding_errors='ignore')
print(df.head())

   ProductKey                         Product Name    Brand   Color  \
0           1  Contoso 512MB MP3 Player E51 Silver  Contoso  Silver
1           2    Contoso 512MB MP3 Player E51 Blue  Contoso    Blue
2           3     Contoso 1G MP3 Player E100 White  Contoso   White
3           4    Contoso 2G MP3 Player E200 Silver  Contoso  Silver
4           5       Contoso 2G MP3 Player E200 Red  Contoso     Red

  Unit Cost USD Unit Price USD  SubcategoryKey Subcategory  CategoryKey  \
0        $6.62         $12.99              101     MP4&MP3            1
1        $6.62         $12.99              101     MP4&MP3            1
2        $7.40         $14.52              101     MP4&MP3            1
3       $11.00         $21.57              101     MP4&MP3            1
4       $11.00         $21.57              101     MP4&MP3            1

  Category
0    Audio
1    Audio
2    Audio
3    Audio
4    Audio

In [2]:
df

,ProductKey,Product Name,Brand,Color,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category
0,1,Contoso 512MB MP3 Player E51 Silver,Contoso,Silver,$6.62,$12.99,101,MP4&MP3,1,Audio
1,2,Contoso 512MB MP3 Player E51 Blue,Contoso,Blue,$6.62,$12.99,101,MP4&MP3,1,Audio
2,3,Contoso 1G MP3 Player E100 White,Contoso,White,$7.40,$14.52,101,MP4&MP3,1,Audio
3,4,Contoso 2G MP3 Player E200 Silver,Contoso,Silver,$11.00,$21.57,101,MP4&MP3,1,Audio
4,5,Contoso 2G MP3 Player E200 Red,Contoso,Red,$11.00,$21.57,101,MP4&MP3,1,Audio
...,...,...,...,...,...,...,...,...,...,...
2512,2513,Contoso Bluetooth Active Headphones L15 Red,Contoso,Red,$43.07,$129.99,505,Cell phones Accessories,5,Cell phones
2513,2514,Contoso Bluetooth Active Headphones L15 White,Contoso,White,$43.07,$129.99,505,Cell phones Accessories,5,Cell phones
2514,2515,Contoso In-Line Coupler E180 White,Contoso,White,$1.71,$3.35,505,Cell phones Accessories,5,Cell phones
2515,2516,Contoso In-Line Coupler E180 Black,Contoso,Black,$1.71,$3.35,505,Cell phones Accessories,5,Cell phones
2516,2517,Contoso In-Line Coupler E180 Silver,Contoso,Silver,$1.71,$3.35,505,Cell phones Accessories,5,Cell phones

# EDA: Data Cleaning and Preprocessing

In [3]:
# Clean up column names
df.columns = df.columns.str.strip()

In [4]:
#Check for Missing Values
df.isnull().sum()

ProductKey        0
Product Name      0
Brand             0
Color             0
Unit Cost USD     0
Unit Price USD    0
SubcategoryKey    0
Subcategory       0
CategoryKey       0
Category          0
dtype: int64

In [5]:
#product name(strip spaces)
df['Product Name'] = df['Product Name'].str.strip().str.title()

In [6]:
#brand(strip spaces)
df['Brand'] = df['Brand'].str.strip().str.title()

In [7]:
#column (strip spaces)
df['Color'] = df['Color'].str.strip().str.title()

In [8]:
#Remove the '$' symbol and convert to float type
df['Unit Cost USD'] = df['Unit Cost USD'].replace({r'\$': '', r',': ''}, regex=True).astype(float)
df['Unit Price USD'] = df['Unit Price USD'].replace({r'\$': '', r',': ''}, regex=True).astype(float)

In [9]:
#Remove duplicate rows based on 'ProductKey'
df = df.drop_duplicates(subset=['ProductKey'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductKey      2517 non-null   int64
 1   Product Name    2517 non-null   object
 2   Brand           2517 non-null   object
 3   Color           2517 non-null   object
 4   Unit Cost USD   2517 non-null   float64
 5   Unit Price USD  2517 non-null   float64
 6   SubcategoryKey  2517 non-null   int64
 7   Subcategory     2517 non-null   object
 8   CategoryKey     2517 non-null   int64
 9   Category        2517 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 196.8+ KB

In [ ]:
#fill missing values with a default value or drop rows with missing data.
df['Product Name'].fillna('Unknown Product', inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_9020\2820179883.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Product Name'].fillna('Unknown Product', inplace=True)

In [12]:
df.isna().sum()

ProductKey        0
Product Name      0
Brand             0
Color             0
Unit Cost USD     0
Unit Price USD    0
SubcategoryKey    0
Subcategory       0
CategoryKey       0
Category          0
dtype: int64

In [13]:
df.to_csv("products.csv")

In [14]:
df.isna().sum()

ProductKey        0
Product Name      0
Brand             0
Color             0
Unit Cost USD     0
Unit Price USD    0
SubcategoryKey    0
Subcategory       0
CategoryKey       0
Category          0
dtype: int64

In [15]:
df.columns

Index(['ProductKey', 'Product Name', 'Brand', 'Color', 'Unit Cost USD',
       'Unit Price USD', 'SubcategoryKey', 'Subcategory', 'CategoryKey',
       'Category'],
      dtype='object')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductKey      2517 non-null   int64
 1   Product Name    2517 non-null   object
 2   Brand           2517 non-null   object
 3   Color           2517 non-null   object
 4   Unit Cost USD   2517 non-null   float64
 5   Unit Price USD  2517 non-null   float64
 6   SubcategoryKey  2517 non-null   int64
 7   Subcategory     2517 non-null   object
 8   CategoryKey     2517 non-null   int64
 9   Category        2517 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 196.8+ KB

In [17]:
%pip install mysql

Collecting mysqlNote: you may need to restart the kernel to use updated packages.

  Using cached mysql-0.0.3-py3-none-any.whl.metadata (746 bytes)
Collecting mysqlclient (from mysql)
  Using cached mysqlclient-2.2.6-cp312-cp312-win_amd64.whl.metadata (4.8 kB)
Using cached mysql-0.0.3-py3-none-any.whl (1.2 kB)
Using cached mysqlclient-2.2.6-cp312-cp312-win_amd64.whl (207 kB)
Installing collected packages: mysqlclient, mysql
Successfully installed mysql-0.0.3 mysqlclient-2.2.6

In [18]:
import mysql.connector

In [20]:
import mysql.connector
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123456789",
    database="Electronics" 
)
cursor = connection.cursor()
cursor.execute("""CREATE TABLE products(
    ProductKey INT NOT NULL,
    Product_Name VARCHAR(255) NOT NULL,
    Brand VARCHAR(255) NOT NULL,
    Color VARCHAR(255) NOT NULL,
    Unit_Cost_USD FLOAT NOT NULL,
    Unit_Price_USD FLOAT NOT NULL,
    SubcategoryKey INT NOT NULL,
    Subcategory VARCHAR(255) NOT NULL,
    CategoryKey INT NOT NULL,
    Category VARCHAR(255) NOT NULL)""")
print("Table Created successfully")

Table Created successfully

In [23]:
insert_query = ("""INSERT INTO products (ProductKey,Product_Name,Brand,Color,Unit_Cost_USD,Unit_Price_USD,SubcategoryKey,Subcategory,CategoryKey,Category) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)""")
data =df.values.tolist()
try:
    cursor.executemany(insert_query, data)
    connection.commit()
    print("Values inserted successfully")
except Exception as e:
    print(f"Error: {e}")

Values inserted successfully

In [24]:
df.isna().sum()

ProductKey        0
Product Name      0
Brand             0
Color             0
Unit Cost USD     0
Unit Price USD    0
SubcategoryKey    0
Subcategory       0
CategoryKey       0
Category          0
dtype: int64