In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv(r'C:\Users\DELL\Desktop\Electronics\data\Stores.csv',encoding='utf-8',encoding_errors='ignore')
df

,StoreKey,Country,State,Square Meters,Open Date
0,1,Australia,Australian Capital Territory,595.0,1/1/2008
1,2,Australia,Northern Territory,665.0,1/12/2008
2,3,Australia,South Australia,2000.0,1/7/2012
3,4,Australia,Tasmania,2000.0,1/1/2010
4,5,Australia,Victoria,2000.0,12/9/2015
...,...,...,...,...,...
62,63,United States,Utah,2000.0,3/6/2008
63,64,United States,Washington DC,1330.0,1/1/2010
64,65,United States,West Virginia,1785.0,1/1/2012
65,66,United States,Wyoming,840.0,1/1/2014
66,0,Online,Online,NaN,1/1/2010

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   StoreKey       67 non-null     int64
 1   Country        67 non-null     object
 2   State          67 non-null     object
 3   Square Meters  66 non-null     float64
 4   Open Date      67 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 2.7+ KB

# EDA: Data Cleaning and Preprocessing

In [3]:
# Clean up column names
df.columns = df.columns.str.strip()

In [4]:
#Check for Missing Values
df.isnull().sum()

StoreKey         0
Country          0
State            0
Square Meters    1
Open Date        0
dtype: int64

In [5]:
df['Open Date'] = pd.to_datetime(df['Open Date'], errors='coerce')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   StoreKey       67 non-null     int64
 1   Country        67 non-null     object
 2   State          67 non-null     object
 3   Square Meters  66 non-null     float64
 4   Open Date      67 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 2.7+ KB

In [7]:
df.isnull().sum()

StoreKey         0
Country          0
State            0
Square Meters    1
Open Date        0
dtype: int64

In [8]:
print(df['State'].isnull().sum())

0

In [9]:
print(df['State'].unique())

['Australian Capital Territory' 'Northern Territory' 'South Australia'
 'Tasmania' 'Victoria' 'Western Australia' 'New Brunswick'
 'Newfoundland and Labrador' 'Northwest Territories' 'Nunavut' 'Yukon'
 'Basse-Normandie' 'Corse' 'Franche-Comté' 'La Réunion' 'Limousin'
 'Martinique' 'Mayotte' 'Berlin' 'Brandenburg' 'Freie Hansestadt Bremen'
 'Freistaat Thüringen' 'Hamburg' 'Hessen' 'Mecklenburg-Vorpommern'
 'Saarland' 'Sachsen-Anhalt' 'Caltanissetta' 'Enna' 'Pesaro' 'Drenthe'
 'Flevoland' 'Friesland' 'Groningen' 'Zeeland' 'Armagh' 'Ayrshire'
 'Belfast' 'Blaenau Gwent' 'Dungannon and South Tyrone' 'Fermanagh'
 'North Down' 'Alaska' 'Arkansas' 'Connecticut' 'Delaware' 'Hawaii'
 'Idaho' 'Iowa' 'Kansas' 'Maine' 'Mississippi' 'Montana' 'Nebraska'
 'Nevada' 'New Hampshire' 'New Mexico' 'North Dakota' 'Oregon'
 'Rhode Island' 'South Carolina' 'South Dakota' 'Utah' 'Washington DC'
 'West Virginia' 'Wyoming' 'Online']

In [10]:
print(df.groupby('State')['Square Meters'].mean())

State
Alaska                          1190.0
Arkansas                        2000.0
Armagh                          1300.0
Australian Capital Territory     595.0
Ayrshire                        2100.0
                                 ...
West Virginia                   1785.0
Western Australia               2000.0
Wyoming                          840.0
Yukon                           1210.0
Zeeland                         1225.0
Name: Square Meters, Length: 67, dtype: float64

In [11]:
print(df[df['Square Meters'].isnull()])

    StoreKey Country   State  Square Meters  Open Date
66         0  Online  Online            NaN 2010-01-01

In [12]:
df.loc[df['Country'] == 'Online', 'Square Meters'] = 0

In [13]:
df.isnull().sum()

StoreKey         0
Country          0
State            0
Square Meters    0
Open Date        0
dtype: int64

In [14]:
df['Square Meters'] = df.groupby('State')['Square Meters'].transform(lambda x: x.fillna(x.median()))

In [15]:
df.isnull().sum()

StoreKey         0
Country          0
State            0
Square Meters    0
Open Date        0
dtype: int64

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   StoreKey       67 non-null     int64
 1   Country        67 non-null     object
 2   State          67 non-null     object
 3   Square Meters  67 non-null     float64
 4   Open Date      67 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 2.7+ KB

In [17]:
df.to_csv("stores.csv")

In [18]:
df.isna().sum()

StoreKey         0
Country          0
State            0
Square Meters    0
Open Date        0
dtype: int64

In [19]:
df.columns

Index(['StoreKey', 'Country', 'State', 'Square Meters', 'Open Date'], dtype='object')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   StoreKey       67 non-null     int64
 1   Country        67 non-null     object
 2   State          67 non-null     object
 3   Square Meters  67 non-null     float64
 4   Open Date      67 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 2.7+ KB

In [23]:
import mysql.connector
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123456789",
    database="Electronics" 
)
cursor = connection.cursor()
cursor.execute("""CREATE TABLE stores(
    StoreKey INT NOT NULL,
    Country VARCHAR(255) NOT NULL,
    State VARCHAR(255) NOT NULL,
    Square_Meters FLOAT NOT NULL,
    Open_Date DATETIME NOT NULL)""")
print("Table Created successfully")

Table Created successfully

In [24]:
insert_query = ("""INSERT INTO stores(StoreKey,Country,State,Square_Meters,Open_Date)VALUES (%s, %s, %s, %s, %s)""")
data =df.values.tolist()
try:
    cursor.executemany(insert_query, data)
    connection.commit()
    print("Values inserted successfully")
except Exception as e:
    print(f"Error: {e}")

Values inserted successfully

In [25]:
df.isna().sum()

StoreKey         0
Country          0
State            0
Square Meters    0
Open Date        0
dtype: int64